<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Haha</title>
    </head>
    <body>
        <div>
            <h1>Submitted Info</h1>
            <ul class="list-group">
                <li class="list-group-item">{{session['username']}}</li>
                <li class="list-group-item">{{session['userloca']}}</li>
                <li class="list-group-item">{{session['userlang']}}</li>
                <li class="list-group-item">{{session['usercomment']}}</li>
            </ul>
        </div>
    </body>
</html>